<div class="personal-card">
    <img src="/assets/img/Cara.png" id="imgPefil" alt="Foto de perfil">

    <details open class="texto-card">
        <summary class="card-title">
            <strong>Perfil</strong>
        </summary>
        <p class="description">{{Perfil}}</p>
    </details>

    <details open class="texto-card">
        <summary class="card-title">
            <strong>Contacto</strong>
        </summary>
        <p class="description">
            Telefono: 322 699 5456
            <br>
            Correo: sr.ricanibal8@gmail.com
        </p>
    </details>
</div>
