.personal
{
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}
#card
{
    box-shadow: 10px 3px 5px rgb(171, 205, 240);
} 
#imgPefil
{   
    
    border-radius: 50%;
    border: 10px;
    box-shadow: 10px 5px 1px rgba(58, 149, 240, 0.315);
    max-width: 400px;
}
.Texto
{
    margin-top: 30px;
    max-width: 300px;
    text-align: center;
}
