<div class="personal">
    <img src="/assets/img/Cara.png" id="imgPefil">
    <div>
        <details open class="Texto" >
        <summary id="card">
            <strong>
                Perfil
            </strong>
        </summary>
        <p style="text-align: left; padding-top:20px;">
            {{Perfil}}
        </p>  
    </details>
    <details open class="Texto">
        <summary id="card">
            <strong>
                Contacto
            </strong>
        </summary>
        <p style="text-align: left; padding-top: 20px;">
            Telefono: 322 699 5456
            <br> 
            Correo: sr.ricanibal8@gmail.com
            <br></p>
    </details>    
    </div>
  
</div>